@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-underline::after {
  content: '';
  display: block;
  border-bottom: solid 2px hsl(54,81%,60%); 
  transform: scaleX(0);  
  transition: transform 200ms ease-in-out;
  transform-origin: center;
}

.hover-underline:hover::after {
  transform: scaleX(1); 
}

.translate-x-custom {
  transform: translateX(90%);
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px); 
  }
}

.float-animation {
  animation: float 8s ease-in-out infinite; 
}



@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03); 
  }
}

.pulse-animation {
  animation: pulse 8s ease-in-out infinite; 
}

@keyframes typewriter {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  border-right: 0.15em solid white;
  white-space: nowrap;
  animation: typewriter 6s steps(40, end) infinite, blink 0.75s step-end infinite;
  width: 0;
}


.circle-button:hover {
  background-color: hsl(54, 81%, 40%);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-animation {
  animation: rotate 17s linear infinite;
}

@keyframes twitch {
  0% { transform: rotate(45deg); }
  40% { transform: rotate(55deg); }
  100% { transform: rotate(45deg); }
}

.twitch-animation {
  animation: twitch 4s infinite ease-in-out alternate;
  transform-origin: center;
}

#motion-demo {
  offset-path: path("M20,20 C20,100 200,0 200,100");
  animation: move 3000ms infinite alternate ease-in-out;
}

@keyframes move {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

@keyframes float-dramatically {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100px); 
  }
}

.float-dramatically-animation {
  animation: float-dramatically 10s ease-in-out infinite; 
}